html {
    scroll-behavior: smooth;
}

body {
    background: #2c3e50;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

input[type=radio] {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0.5em;
    -webkit-appearance: none;
}
  
input[type=radio]:checked {
   background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
   filter: invert(1);
   border: 1px solid rgb(255, 255, 255);
   background-size: 9px 9px;
}
  
input[type=radio]:focus {
    outline-color: transparent;
}

.landing {
    width: 100%;
    height: 100vh;
    position: relative;
}

.landing .anchor {
    position: absolute;
    top: 0;
    right: 0;
}

.landing .logo {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
}

.landing .contacts {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    border: #7f8c8d 2px solid;
    border-radius: 10px;
    width: max-content;
}

.landing .contacts i {
    color: #d35400;
    font-size: 30px;
    transition: .5s;
    padding: 5px 10px;
    cursor: pointer;
}

.landing .mcontacts i {
    color: #d35400;
    font-size: 60px;
    transition: .5s;
    padding: 5px 10px;
    cursor: pointer;
}

.landing .contacts i:hover {
    color: #e67e22;
}

.goform {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.goform i {
    color: #7f8c8d;
    font-size: 50px;
    transition: .5s;
    animation: 10s pulse infinite;
    cursor: pointer;
}

.goform i:hover {
    color: #bdc3c7;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    4% {
        transform: scale(1.2);
    }
    8% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

hr {
    border-color: #7f8c8d;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main .anchor {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main .goback {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.main .goback i {
    color: #7f8c8d;
    font-size: 50px;
    transition: .5s;
    cursor: pointer;
    transform: rotate(180deg);
}

.main .goback i:hover {
    color: #bdc3c7;
}

.main .prev {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.main .prev i {
    color: #7f8c8d;
    font-size: 50px;
    transition: .5s;
    cursor: pointer;
    transform: rotate(-90deg);
}

.main .prev i:hover {
    color: #bdc3c7;
}

.main .tile {
    height: 70%;
    width: 80%;
    background: #ecf0f1;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.fade-enter-active {
    animation: bounce-close 1s;
  }
.fade-leave-active {
    animation: bounce-in 1s reverse;
}
.fade2-enter-active {
    animation: bounce-in 1s;
}
.fade2-leave-active {
    animation: bounce-close 1s reverse;
}
@keyframes bounce-in {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes bounce-close {
    0% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.main .tile h1 {
    color: #2c3e50;
}

.main .next {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.main .next i {
    color: #7f8c8d;
    font-size: 50px;
    transition: .5s;
    cursor: pointer;
    transform: rotate(90deg);
}

.main .next i:hover {
    color: #bdc3c7;
}

.model input {
    margin-left: 30px;
    margin-top: 50px;
}

.model label {
    margin-left: 4px;
}

.model .send {
    margin-top: 15%;
    font-size: 30px;
    outline: none;
    border: 2px #34495e solid;
    background: #34495e;
    border-radius: 6px;
    color: #7f8c8d;
    padding: 5px 10px;
    transition: .5s;
}

.model .send:hover {
    color: #ecf0f1;
}